.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas:
      'header header header'
      'globalMenu globalMenu ads'
      'contextMenu mainContent ads'
      'footer footer footer';
    grid-template-columns: 1fr 2fr 1.2fr;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    gap: 10px;
  }
}
