.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--github-graffiti);
}

@media (min-width: 768px) {
  .footer {
    height: 100%;
    grid-area: footer;
  }
}
